.body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10vw;
  font-family: "VT323", sans-serif;
  background-color: #fdf1bf;
}

.page-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 100%;
  margin: 10px 0 30px 0;
}
.page-heading__logo {
  height: 75px;
}
.page-heading__text {
  font-size: 50px;
}

.search {
  display: flex;
  justify-content: center;
  gap: 5px;
  min-width: 100%;
  margin-bottom: 40px;
}
.search__textbox {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}
.search__button {
  font-family: "VT323", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #f1c958;
  transition: 0.3s;
}
.search__button:hover {
  background-color: #be9628;
}
.search__reset-btn {
  font-family: "VT323", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #dfdfdf;
  transition: 0.3s;
}
.search__reset-btn:hover {
  background-color: #afaeae;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 75px;
  height: 75px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  transition: 0.5s;
}
.card__name {
  text-align: center;
  min-width: 100%;
  margin: 0;
  font-weight: 1000;
  font-size: 12px;
}
.card__type {
  text-align: center;
  margin: 0;
  min-width: 100%;
  font-size: 10px;
}
.card__img {
  height: 50px;
}
.card--hide {
  display: none;
}
.card:hover {
  background-color: white;
}

.modal {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 300px;
  height: 250px;
  background-color: white;
  box-shadow: 0 0 20px rgb(50, 50, 50);
  border-radius: 20px;
}
.modal__close {
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
}
.modal__close__img {
  height: 15px;
  width: 15px;
  opacity: 50%;
  transition: 0.5s;
}
.modal__close__img:hover {
  opacity: 100%;
}
.modal__info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.modal__info__title {
  font-weight: 1000;
}
.modal__info__name {
  margin: 0;
  min-width: 100%;
  font-weight: 1000;
  text-align: center;
}
.modal__info__img {
  min-width: 100%;
  height: 100px;
  object-fit: contain;
}
.modal__info__type {
  min-width: 100%;
  margin: 0;
}
.modal__info__abilities {
  min-width: 100%;
  margin: 0;
}
.modal--hidden {
  display: none;
}
