.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10vw;

  font-family: "VT323", sans-serif;
  background-color: #fdf1bf;
}

.page-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-width: 100%;
  margin: 30px 0 50px 0;

  &__logo {
    height: 125px;
  }

  &__text {
    font-size: 100px;
  }
}

.search {
  display: flex;
  justify-content: center;
  gap: 5px;
  min-width: 100%;
  margin-bottom: 60px;

  &__textbox {
    height: 35px;
    width: 250px;

    border: 1px solid #e7e7e7;
    border-radius: 10px;
  }

  &__button {
    padding: 0 30px;

    font-family: "VT323", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #f1c958;

    transition: 0.3s;

    &:hover {
      background-color: #be9628;
    }
  }

  &__reset-btn {
    padding: 0 20px;

    font-family: "VT323", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #dfdfdf;
    transition: 0.3s;

    &:hover {
      background-color: #afaeae;
    }
  }
}

// .pokedex-frame {

//   padding: 20px;

//   border: 20px solid #d62828;
//   border-radius: 20px;
//   background-color: #99d9ea;
// }

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 175px;
  height: 175px;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;

  transition: 0.5s;

  &__name {
    text-align: center;
    min-width: 100%;
    margin: 0;

    font-weight: 1000;
    font-size: 24px;
  }

  &__type {
    text-align: center;
    margin: 0;
    min-width: 100%;

    font-size: 20px;
  }

  &__img {
    height: 100px;
  }

  &--hide {
    display: none;
  }

  &:hover {
    background-color: white;
  }
}

.modal {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  z-index: 2;
  padding: 10px 30px;
  margin-top: 20vh;
  width: 350px;
  height: 600px;

  background-color: #fdea88;
  box-shadow: 0 0 20px rgb(50, 50, 50);
  border: 20px solid #e4c11b;
  border-radius: 15px;

  &__close {
    display: flex;
    justify-content: flex-end;
    min-width: 100%;
    margin: 10px 0;

    &__img {
      height: 15px;
      width: 15px;
      opacity: 50%;

      transition: 0.5s;

      &:hover {
        opacity: 100%;
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;

    &__title {
      margin: 20px 0 0 0;

      font-weight: 1000;
      font-size: 24px;
    }

    &__name {
      margin: 0 0 10px 0;
      min-width: 50%;

      font-weight: 1000;
      font-size: 24px;
    }

    &__img {
      min-width: 95%;
      height: 200px;
      object-fit: contain;
      margin-bottom: 10px;

      border: 10px solid #cfa92a;
      background-image: url(https://i2.wp.com/pokemonrevolution.net/forum/uploads/monthly_2021_03/DVMT-6OXcAE2rZY.jpg.afab972f972bd7fbd4253bc7aa1cf27f.jpg);
      background-size: cover;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &__type {
      min-width: 50%;
      margin: 0;

      text-align: right;
      font-size: 24px;
    }

    &__abilities {
      min-width: 100%;
      margin: 0;

      font-size: 20px;
    }
  }

  &--hidden {
    display: none;
  }

  &--grass,
  &--bug {
    background-color: #b6d884;
  }

  &--normal,
  &--flying,
  &--steel {
    background-color: #cfcfcf;
  }

  &--fighting,
  &--ground,
  &--rock {
    background-color: #dbb385;
  }

  &--poison,
  &--ghost,
  &--psychic {
    background-color: #b182c7;
  }

  &--fire {
    background-color: #fd8568;
  }

  &--water,
  &--ice {
    background-color: #82b6d4;
  }

  &--electric {
    background-color: #fcec61;
  }

  &--dragon {
    background-color: #dad745;
  }

  &--dark {
    color: white;
    background-color: #144e4b;
  }

  &--fairy {
    background-color: #fc94d4;
  }

  &--shadow {
    color: white;
    background-color: #333333;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;

  &--hidden {
    display: none;
  }
}
